

.scrollerWrap-1IAIlv {
    width: 200px;
}

.wrapper-3NnKdC {
    width:185px;
    padding-bottom:000px;
}
.scrollerWrapPolyfill-DBQCMm{
    width:185px;
}
.guildSeparator-3s64Iy{
    height:00px;
    width:100%;
    position:inherit;
}
.guildSeparator-3s64Iy:after{
    margin-left:-50px;
    width:100%;
    margin-top:65px;
}
.listItem-GuPuDH{
    float:left;
    margin-right:5px;
    width:50px;
}
.base-3dtUhz{
    left:170px;
}
.friendsOnline-2JkivW {
    padding-bottom:5px;
    height:50px;
    line-height:50px;
    margin-top:-60px;
    margin-left:50px;
}
.container-11WMXy{
    float:left;
    margin-right:155px;
}
.createJoinContainer-2Av064{
    height:50px;
    float:left;
}
.unread-2OHH1w:before {
    z-index: 2;
    margin-left: 32px;
    margin-top: -25px;
    background: #EEDD11;
    border-color: black;
    border-style: inset;
    border-radius: 15px;
    
}
.selected-nT-gM3:before {
    border-color: #EEDD11;
    border-style: outset;
    border-radius: 20px;
    border-width: 7px;
    height: 44px;
    width: 44px;
    margin-top: -29px;
    margin-left: 11px;
    z-index: 0;
    background: transparent;
}
.pill-31IEus{
    width:8px;
    z-index: 2;
}
.item-2hkk8m{
    border-color: #EEDD11;
    border-style: outset;
    border-radius: 20px;
    border-width: 8px;
    width: 40px;
    height: 70px;
    margin-left: -3px;
    z-index: 1;
    background: transparent;
}

.dms-rcsEnV {
    margin-top:70px;
    margin-right:10px;
    margin-bottom:00px;
    width:100%;
    height:00%;
}
.unreadMentionsIndicatorTop-gA6RCh{
    top:-100px;
}
.unreadMentionsIndicatorBottom-BXS58x {
    bottom:-50px;
}
.theme-dark .unread-2OHH1w:before{
    background:#EEDD11;
}
.search-l1Wz-Q{
    width:400px;
}
.search-2oPWTC.open-6_Y_aH .searchBar-3dMhjb{
    width:400px;
}
.search-2oPWTC .searchBar-3dMhjb{
    width:400px;
}
.search-2oPWTC.focused-31_ccS .searchBar-3dMhjb{
    width:410px;
}

.positionContainer-3unAXC{
    height:920px;
}



/*Emoji Picker*/
.contentWrapper-SvZHNd{
    height:800px;
    position:fixed;
    bottom:80px;
    width:40%;
    right:50px;
}

.scroller-2FKFPG{
    /*height:100%;*/
}
.emojiItem-14v6tW{
    float: left;
}
.da-emojiItemDisabled{
    width:15px;
    height:15px;
}
.emojiItemImage-3ki-eV{
    height:100% !important;
    width:100% !important;
}

.da-emojiItemLarge{

}

.emojiListRowMediumSize-M_K7-z{
    /*grid-template-columns: repeat(auto-fit,10%);*/
    grid-template-columns: none;
}
.emojiListRowLargeSize-3QTDek{
    
}
.emojiListRow-m_GHp0{
    display:block;
    
}

.categorySection-2sgp74{
 margin-bottom:0px;   
}
.listItems-1uJgMC{
 top:2px;
 left:2px;
}



.searchBar-2_Yu-C.searchBarLight-1NxoDG input{
    color: white;
}
.searchBar-2_Yu-C.searchBarLight-1NxoDG input::placeholder{
    color: lightgrey;
}
.wrapper-3Njo_c{
    float:left;
    width:50px;
    margin-left:1px;
    margin-right:4px;
}
.da-expandedFolderBackground{
    position:absolute;
    left:0px;
    width:100%;
    height: 99.3%;
}




