

.scroller-3X7KbA {
    width: 200px;
}

.wrapper-1_HaEi {
    width:180px;
    padding-bottom:000px;
}
.scrollerWrapPolyfill-DBQCMm{
    width:185px;
}
.guildSeparator-a4uisj{
    height:00px;
    width:100%;
    position:inherit;
}
.guildSeparator-a4uisj:after{
    margin-left:-50px;
    width:100%;
    margin-top:65px;
}
/*serveritem*/
.listItem-3SmSlK{
    float:left;
    margin-right:5px;
    width:55px;
}

.friendsOnline-2JkivW {
    padding-bottom:5px;
    height:50px;
    line-height:50px;
    margin-top:-60px;
    margin-left:50px;
}
.container-11WMXy{
    float:left;
    margin-right:155px;
}
.createJoinContainer-2Av064{
    height:50px;
    float:left;
}
.unread-2OHH1w:before {
    z-index: 2;
    margin-left: 32px;
    margin-top: -25px;
    background: #EEDD11;
    border-color: black;
    border-style: inset;
    border-radius: 15px;
    
}
.selected-nT-gM3:before {
    border-color: #EEDD11;
    border-style: outset;
    border-radius: 20px;
    border-width: 7px;
    height: 44px;
    width: 44px;
    margin-top: -29px;
    margin-left: 11px;
    z-index: 0;
    background: transparent;
}
.da-pill{
    width:8px;
    z-index: 2;
}
.item-2hkk8m{
    border-color: #EEDD11;
    border-style: outset;
    border-radius: 20px;
    border-width: 8px;
    width: 40px;
    height: 70px;
    margin-left: -3px;
    z-index: 1;
    background: transparent;
}

.dms-rcsEnV {
    margin-top:70px;
    margin-right:10px;
    margin-bottom:00px;
    width:100%;
    height:00%;
}
.unreadMentionsIndicatorTop-gA6RCh{
    top:-100px;
}
.unreadMentionsIndicatorBottom-BXS58x {
    bottom:-50px;
}
.theme-dark .unread-2OHH1w:before{
    background:#EEDD11;
}
.search-l1Wz-Q{
    width:400px;
}
.search-2oPWTC.open-6_Y_aH .searchBar-3dMhjb{
    width:400px;
}
.search-2oPWTC .searchBar-3dMhjb{
    width:400px;
}
.search-2oPWTC.focused-31_ccS .searchBar-3dMhjb{
    width:410px;
}

.positionContainer-3unAXC{
    height:920px;
}

.wrapper-38slSD{
    float:left;
    width:50px;
    margin-left:1px;
    margin-right:4px;
}
.expandedFolderBackground-1kSAf6{
    position:absolute;
    left:0px;
    top:-5px;
    width:110%;
    height: 99.3%;
}


.friendsOnline-2JkivW {
    padding-bottom:5px;
    height:50px;
    line-height:50px;
    margin-top:-60px;
    margin-left:50px;
}
.container-11WMXy{
    float:left;
    margin-right:155px;
}
.createJoinContainer-2Av064{
    height:50px;
    float:left;
}
.selected-1Drb7Z:before {
    border-color: #EEDD11;
    border-style: outset;
    border-radius: 20px;
    border-width: 7px;
    height: 44px;
    width: 44px;
    margin-top: -29px;
    margin-left: 11px;
    z-index: 0;
    background: transparent;
}
.da-pill{
    width:8px;
    z-index: 2;
}
/*unread indicator*/
.item-2LIpTv{
    border-color: #EEDD11;
    border-style: outset;
    border-radius: 20px;
    border-width: 8px;
    width: 40px;
    height: 70px;
    margin-left: -3px;
    z-index: 1;
    background: transparent;
}

.unreadMentionsIndicatorTop-gA6RCh{
    top:-100px;
}
.unreadMentionsIndicatorBottom-BXS58x {
    bottom:-50px;
}
.theme-dark .unread-2OHH1w:before{
    background:#EEDD11;
}
.search-39IXmY{
    width:400px;
}
.search-1FM8Qc.open-6_Y_aH .searchBar-zdmu7v{
    width:400px;
}
.search-1FM8Qc .searchBar-zdmu7v{
    width:400px;
}
.search-1FM8Qc.focused-31_ccS .searchBar-zdmu7v{
    width:410px;
}

.positionContainer-dMArNx{
    height:920px;
}

/*Emoji Reaction*/
.emojiPicker-6YCk8a{
    height:600px;
    /* changing width will crash betterDiscord
    width:600px;*/
}

/*Emoji Picker*/
.contentWrapper-3vHNP2{
    height:800px;
    position:fixed;
    bottom:80px;
    width:40%;
    right:50px;
}
.emojiItem-277VFM{
    float: left;
}

.expandedFolderBackground-1kSAf6{
    position:absolute;
    left:0px;
    top:-5px;
    width:110%;
    height: 99.3%;
}


